[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "*"
pandas = "*"
seaborn = "*"
dask = {extras = ["complete"], version = "*"}
scikit-learn = "*"
jupyter = "*"
ipykernel = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.8"
